.DS_Store
node_modules/*
node_modules/**
yarn.lock
npm-debug.log
yarn-error.log
package-lock.json
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.bak
*.suo
*.ntvs*
*.njsproj
*.sln

